*{
  border-color: #487E6E;
  font-size: 14.3px;
  color:#230f2c;
  
  
  
}
h1,h2,h4,h5{
  color:#5d3f6b;
}
#searchResult:hover{
    background-color: rgb(224, 219, 219);
}
#searchResult{
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
    
      
}
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #487E6E;
    position: absolute;
    right: 100px;
  }

  @media only screen and (Max-width: 600px) {
    /* For desktop: */
    *{
      font-size: 8px;
      size: 5px;
    }
    input{
      height: 15px;
    }
  }
  
  